.AdminPage {
  background-color: rgba(22, 22, 24, 0.5);
  border-radius: 30px;
  position: relative;
  height: 70%;
  width: 95%;
  left: 2.5%;
  top: 15%;

  min-width: fit-content;
  display: flex;
  justify-content: center;
}

.App {
  position: relative;
  text-align: center;

  display: flex;
  flex-direction: column;

  margin-top: 20px;
  row-gap: 3%;
  width: 90%;
  height: 100%;

  min-height: fit-content;
  min-width: fit-content;
}

.PanelTitle {
  font-size: 200%;
  color: aliceblue;
}

.PagePanel {
  border-color: rgb(0, 0, 0);
  border-style: solid;
  text-align: center;
  display: flex;
  justify-self: start;
  flex-direction: row;
  min-height: 80%;
  max-height: 80%;

}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: rgba(157, 208, 238, 0.801);
}

.AdminBody {
  background: #8BD295;
  background: radial-gradient(at center, #8BD295, #1078B7);
  width: 100vw;
  height: 100vh;

}

@keyframes popupNotification {
  0% {
    top: 95%;
    opacity: 1;
  }

  40% {
    top: 90%;
    opacity: 1;
  }

  70% {
    top: 90%;
    opacity: 1;
  }

  90% {
    top: 95%;
    opacity: 0;
  }
}

.AlertNotification {
  height: "50px";
  align-self: center;
  text-align: center;
  width: 50%;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  opacity: 0;
  animation: popupNotification;
  animation-duration: 7s;
}