
.InputBoxPanel{
    background-color: rgb(74, 129, 167);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    border: 5px;
    border-color: rgb(38, 52, 53);
    border-style: solid;
    
  }
  
  .InputEntryBox{
    border-color: rgb(38, 52, 53);
    font-size: 1.45vmax;
    font-family:'Franklin Gothic Medium';
    text-align: center;
    align-items: center;
    width: "50%";
  }
  
  @font-face {
    font-family: consolas;
    src: "public/CONSOLA.TTF";
  }

.InsertButton{
    align-self: center;
    width:6.5em;
    height:2.5em;
}

